<!DOCTYPE html>
<html>

<head>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body>
    <div>
        <h3>Hello, <%= username %></h3>
        <video src="http://127.0.0.1:3000/static/topgolf_ad_360p.mp4" controls preload autoplay></video>
    </div>
</body>

</html>