<!DOCTYPE html>
<html>

<head>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body>
    <form action="/nodemailerTest" method="post">
        <h3>Enter your e-mail:</h3>
        <input type="text" name="email">
        <!-- <input type="password" name="pwd"> -->
        <h3>Enter your name:</h3>
        <input type="text" name="name">
        <input type="submit" value="Submit">
    </form>
</body>

</html>