<!DOCTYPE html>
<html>

<head>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body>
    <form action="/nodemailerTest" method="post">
        Enter your e-mail:<br><input type="text" name="email">
        <!-- <input type="password" name="pwd"> -->
        <input type="submit" value="Submit">
    </form>
</body>

</html>